.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
}

@media (min-width: 768px) {
  .header {
    padding-left: 26px;
    padding-right: 26px;
  }
}

.header__logo {
  margin: 2px 0;
}
