.containerNotification {
  width: 280px;
  height: 166px;
  text-align: center;
  padding-top: 16px;
  font-family: 'Roboto', sans-serif;
}

.notification {
  position: relative;
  width: 282px;
  height: 152px;
  padding: 38px 25px 31px 25px;
  z-index: 10;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;

  background: linear-gradient(117.84deg, #1d346a 2.84%, #031634 67.28%);
  color: var(--basicColor);
  border-radius: 20px;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .notification {
    width: 292px;
    height: 163px;
  }
}
.triangle {
  display: block;
  width: 31px;
  height: 31px;
  border: 15px solid transparent;
  position: absolute;
  border-bottom-color: #162b5a;
  top: -31px;
  left: 65px;
}

.notificationPartOne {
  margin-top: 0px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
}

.notificationPartTwo {
  font-size: 12px;
  font-weight: lighter;
  text-align: left;
  margin: 0;
}
