@media screen and (max-width: 766px) {
  .tableDesk {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .tableDesk {
    margin: 0;
  }

  .table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
  }

  .tableHead {
    width: 100%;
  }

  .tableHeadTr {
    background: #f5f6fb;
    border-radius: 20px 20px 0 0;
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #000;
  }

  .tableTr {
    background: #f5f6fb;
    border-radius: 20px 20px 0 0;
    height: 40px;
    font-weight: 700;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    color: #000;
  }

  .tableBody {
    height: 346px;
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #f5f6fb;
    overflow-y: scroll;
  }

  .tableBody::-webkit-scrollbar {
    width: 6px;
    border-radius: 2px;
    background: transparent;
  }

  .tableBody::-webkit-scrollbar-thumb {
    background-color: #fc842d;
    border-radius: 2px;
  }

  .tableDate {
    padding-left: 20px;
    text-align: left;
    width: 20%;
  }

  .tableDescription {
    text-align: left;
    width: 30%;
  }

  .tableCategory {
    width: 20%;
    text-align: center;
  }

  .tableAmount,
  .tableAmountIncome {
    width: 20%;
    text-align: right;
    color: #e7192e;
    font-weight: 700;
  }

  .tableAmountIncome {
    color: #407946;
  }

  .tableDelete {
    width: 10%;
    text-align: center;
  }

  .deleteBtn {
    width: 35px;
    height: 35px;
    border-color: transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
  }

  @media screen and (min-width: 1280px) {
    .tableDesk {
      margin-right: 30px;
      margin-top: 60px;
    }
    .table {
      width: 760px;
    }
  }
}
