.generalData {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--mainTextColor);
  background-color: var(--basicColor);
  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 20px;
  padding: 7px 12px;
  margin-top: 30px;
}

.generalData__item {
  display: flex;
  flex-direction: column;
}

.generalData__divider {
  width: 1px;
  height: 70px;
  background-color: #e0e5eb;
}

@media (min-width: 768px) {
  .generalData {
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    padding: 7px 122px;
  }

  .generalData__item {
    display: flex;
    flex-direction: row;
  }

  .item__dataExpense {
    margin-left: 15px;
  }

  .item__dataIncome {
    margin-left: 15px;
  }

  .generalData__divider {
    height: 36px;
  }
}

.item__dataExpense {
  color: var(--expenseText);
}

.item__dataIncome {
  color: var(--incomeText);
}

@media (min-width: 768px) {
  .dataExpenseIncome {
    background-color: var(--basicColor);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    margin-top: 30px;
  }

  .dataChart {
    background-color: var(--basicColor);
    box-shadow: 0px 10px 60px rgba(170, 178, 197, 0.2);
    border-radius: 30px;
    margin-top: 30px;
    padding: 20px 30px;
  }
}

/*///////////////////////*/

.container {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #52555fb3;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .container {
    display: flex;
    align-items: baseline;
    flex-direction: row-reverse;
    margin-bottom: 58px;
  }
}

@media (min-width: 1280px) {
  .container {
    margin-bottom: 9px;
  }
}

.inputMobile {
  width: 183px;
  border-radius: 22px;
  padding-right: 76px;
}

.spanMobile {
  right: 49px;
}

.containerMobile {
  width: 183px;
}

.containerNavigation {
}
