.Button {
  width: 125px;
  height: 44px;

  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  line-height: 14.06px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  background: var(--basicColor);
  border: 1px solid var(--backgroundColor);
  border-radius: 16px;
  cursor: pointer;
}

.Button:hover,
.Button:focus {
  color: var(--backgroundColor);
  background-color: var(--accentColor);
}

.Button:active {
  background-color: #e76615;
  box-shadow: 0 3px #d37134;
  transform: translateY(1px);
}
