p {
  margin: 0;
}

.containerExpenseIncome {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--mainTextColor);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.title {
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--titleTextColor);
  text-transform: uppercase;
  margin: 0 15px;
}

.btnChevron {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  width: 15px;
  height: 15px;
}

@media (min-width: 768px) {
  .wrapper {
    margin-top: 20px;
  }
}
