@media (max-width: 767.99px) {
  .inputContainer {
    display: none;
  }
}

@media (min-width: 768px) {
  .inputContainer {
    display: flex;
    flex-direction: column;
  }
  .inputShell {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .productName {
    width: 190px;
  }

  .mainBtnTable {
    text-align: center;
  }
  .mainBtn {
    margin-bottom: 25px;
  }
}

@media (min-width: 1280px) {
  .inputContainer {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .inputShell {
    margin-bottom: 0px;
  }
  .productName {
    width: 270px;
  }
  .mainBtn {
    margin-bottom: 0px;
  }
}
.inputForm {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;

  justify-content: space-between;
  align-items: center;
  letter-spacing: 0.02em;
}

.productName {
  padding: 13px;
  border-radius: 16px 0 0 0;
  border: 2px solid var(--backgroundColor);
  border-right: none;
  outline: none;
}

.productAmount {
  padding: 13px 50px 13px 13px;

  border: 2px solid var(--backgroundColor);
  border-radius: 0px 16px 16px 0px;
  border-left: none;
  outline: none;
  text-align: right;
  width: 125px;
}

.productAmountLabel {
  position: relative;
}

.productAmountLabel svg {
  position: absolute;
  top: 10px;
  right: 15px;
}

.react-datepicker {
  font-family: inherit;
  font-size: inherit;
}

.dateBtn {
  margin-right: 25px;
  font-weight: 900;
  font-size: 12px;
  color: var(--mainTextColor);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 15px;
}

.changeBtn {
  width: 125px;
  height: 44px;

  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  line-height: 14.06px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  background: var(--basicColor);
  border: 1px solid var(--backgroundColor);
  border-radius: 16px;
  cursor: pointer;
}

.changeBtn:hover {
  background: var(--backgroundColor);
}

.mainBtn {
  width: 125px;
  height: 44px;

  font-weight: 700;
  font-size: 12px;
  font-style: normal;
  line-height: 14.06px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  background-color: var(--accentColor);
  color: var(--basicColor);
  border-color: var(--accentColor);
  border: 1px solid var(--backgroundColor);
  border-radius: 16px;
  margin-right: 30px;
}

.date {
  display: flex;
  align-items: flex-end;
}

.date svg {
  margin-right: 10px;
}
