.container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.hero {
  position: absolute;
  z-index: -5;
  width: 100%;
  height: 342px;
  background-image: url(./fon-mob.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  fill: #f5f6fb;
}

.title {
  width: 185px;
  height: 65px;
  margin-top: 85px;
  margin-left: 40px;
  margin-bottom: 50px;
}

.kapustaBlockLoged {
  position: absolute;
  z-index: -2;
  /* display: flex; */
  /* width: 100%; */
  /* min-height: 232px; */
}

.kapusta2pcs {
  position: absolute;
  z-index: 2;
  top: 826px;
  left: 103px;
  width: 183px;
  height: 142px;
}

.kapusta2pcs__loged {
  position: absolute;
  z-index: -1;
  top: 1033px;
  right: 88px;
  width: 183px;
  height: 142px;
}

@media (max-width: 767px) {
  .kapustaImg {
    position: absolute;
    z-index: -3;
    right: 0px;
    top: 104px;
  }

  .kapustaImg2 {
    position: absolute;
    z-index: -3;
    top: 770px;
    left: 35px;
  }
}

@media (min-width: 768px) {
  .container {
    min-width: 768px;

    padding-left: 50px;
    padding-right: 50px;
  }
  .hero {
    padding-top: 30px;
    height: 582px;
    background-image: url(./fon-tab.svg);
    background-size: 100% 582px;
  }

  .title {
    width: 305px;
    height: 100px;
    margin-left: 120px;
  }
}

@media (min-width: 1280px) {
  .container {
    display: flex;
    align-items: center;
    width: 1280px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .hero {
    background-image: url(./fon.svg);
  }

  .title {
    width: 380px;
    height: 140px;
    margin-left: 120px;
    margin-bottom: 0;
  }

  .kapusta2pcs {
    top: 658px;
    left: 230px;
  }
}
