.wrapper {
  width: 230px;
}

@media (min-width: 768px) and (max-width: 1060px) {
  .wrapper {
    margin: 40px 0 50px 80px;
  }
}

.list {
  margin: 0;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-bottom-right-radius: 20px;
  height: 240px;
  background-color: #f5f6fb;
  padding-inline-start: 0;
  list-style: none;
}
.item {
  padding: 10px 20px;
  font-size: 12px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: space-between;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  color: #52555f;
  background-color: transparent;
}

.item:not(:last-child) {
  border-bottom: 2px solid white;
}

.fieldMonth {
  padding-left: 22px;
}

.fieldSumm {
  padding-right: 20px;
}

.title {
  margin: 0;
  padding: 15px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  /* color: $black-cl; */
  background-color: #f5f6fb;
}
