.goBackButton {
  display: flex;
  align-items: center;

  width: max-content;
  padding: 0;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  transition: all 0.2s linear;
}

.link {
  text-decoration: none;
  color: var(--mainTextColor);
  margin-left: 15px;
  transition: all 0.2s linear;
}
.link:hover {
  color: #ff6c0a;
}
.goToBackIcon {
  display: block;
  height: 24px;
  width: 24px;
  color: var(--accentColor);
}
