.authformContainter {
  width: 300px;

  padding-top: 40px;
  padding-bottom: 53px;
  margin-left: auto;
  margin-right: auto;

  box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
  border-radius: 30px;

  background-color: var(--basicColor);
}

@media (min-width: 768px) {
  .authformContainter {
    width: 436px;
    padding-top: 50px;
  }
}

@media (min-width: 1280px) {
  .authformContainter {
    /* margin-top: 117px; */
  }
}

.container_content {
  width: 265px;
  margin-left: auto;
  margin-right: auto;
}

.authformInfo_header {
  width: 222px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
  margin-top: 0;
  text-align: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.04em;

  color: var(--mainTextColor)
}

@media (min-width: 768px) {
  .authformInfo_header {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

.googleBtn {
  display: flex;
  justify-content: space-between;
  width: 122px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding: 10px 20px;

  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;

  color: var(--titleTextColor);
  background: var(--backgroundColor);
  border: none;
  border-radius: 26px;

  cursor: pointer;
  text-decoration: none;
}

.googleLink {
  text-decoration: none;
}

.googleBtn:hover {
  background-color: #e7e8ec;
}

.googleBtn:active {
  background-color: var(--accentColor);
  box-shadow: 0 3px #d37134;
  transform: translateY(1px);
}

.googleIcon {
  background: url('./google.svg');
  background-size: contain;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.authform {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
}

.authformInfo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 24px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.04em;

  color: var(--mainTextColor);
}

@media (min-width: 768px) {
  .authformInfo {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
}

.authLabel {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;

  color: var(--titleTextColor);

  font-family: Roboto;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 11px;
  line-height: 1.1;
}

@media (min-width: 768px) {
  .authLabel {
    font-size: 13px;
    line-height: 1.2;
  }
}

.authInput {
  margin-top: 12px;
  padding: 17px 17px;
  background: var(--backgroundColor);

  font-size: 15px;
  line-height: 1.2;
  border: none;
  border-radius: 30px;
}

@media (min-width: 768px) {
  .authInput {
    margin-top: 10px;
  }
}

.btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* margin-top: 10px; */
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.authBtn {
  display: inline-block;
  width: 125px;
  height: 44px;
  margin: 10 0 0 0;

  font-weight: 700;
  font-size: 12px;

  background: var(--backgroundColor);

  border: none;
  border-radius: 16px;
}

.activeBtn {
  display: inline-block;
  width: 125px;
  height: 44px;
  margin: 0;

  font-weight: 700;
  font-size: 12px;

  color: var(--basicColor);
  background-color: var(--accentColor);

  border: none;
  border-radius: 16px;
}

.authForm__message {
  margin-top: 20px;
  font-size: 10px;
}

.authForm__message_success {
  color: var(--incomeText);
}

.authForm__message_danger {
  color: var(--expenseText);
}
