.authformContainter {
    width: 300px;

    padding-top: 40px;
    padding-bottom: 53px;
    padding-left: 29px;
    padding-right: 29px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    
    box-shadow: 5px 10px 20px rgba(170, 178, 197, 0.4);
    border-radius: 30px;
    
    background-color: #fff;
    /* outline: solid 1px red; */

}

@media (min-width: 768px) {
    .authformContainter {
        width: 436px;
        padding-top: 50px;
    }
}

@media (min-width: 1280px) {
    .authformContainter {
        margin-right: 110px;
        margin-top: 173px;
    }        
}

.container_content {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
}




.authformInfo_header {
    width: 222px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
    text-align: center;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.04em;
    
    color: #52555F;
    
}

@media (min-width: 768px) {
    .authformInfo_header {
        font-size: 12px;
        line-height: 1.2;
    }
}


.googleBtn {
    display: flex;
    justify-content: space-between;
    width: 122px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;

    font-size: 14px;
    line-height: 1.2;
    font-weight: 500;

    color: #000000;
    background: #F6F7FB;
    border: none;
    border-radius: 26px;

    cursor: pointer;
    text-decoration: none;
}

.googleLink {
    text-decoration: none;
}

.googleBtn:hover {
    
    color: #F5F6FB;
    background-color: #FF751D;

}

.googleBtn:active {
    background-color: #e76615;
    box-shadow: 0 3px #d37134;
    transform: translateY(1px);
  
}

.googleIcon {
    background: url('./google.svg');
    background-size: contain;
    display: inline-block;
    height: 18px;
    width: 18px;
}



.authform {
    margin-left: auto;
    margin-right: auto;
    margin-top: 24px;
}

.authformInfo {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.04em;

    color: #52555F;

}

.authLabel {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    color: #000000;

    font-family: Roboto;
    
    font-weight: bold;
    font-size: 10px;
    line-height: 1.1
}

.authInput {
    margin-top: 12px;
    padding: 20px 17px;
    background: #F6F7FB;
    border: none;
    border-radius: 30px;
}

.btns {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


