.dateBtn {
    margin-right: 25px;
    font-weight: 900;
    font-size: 12px;
    color: var(--mainTextColor);
    border: none;
    background-color: transparent;
    cursor: pointer;
  }

  .date {
    display: flex;
    align-items: flex-end;
  }
  
  .date svg {
    margin-right: 10px;
  }
  