p {
  margin: 0;
}

.listExpense {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .listExpense {
    margin-left: -20px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .listExpense {
    max-width: 614px;
  }
}
