p {
  margin: 0;
}

/* .containerExpense {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  font-weight: 400;
  letter-spacing: 0.04em;
  color: var(--mainTextColor);
}

.title {
  font-size: 14px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: var(--titleTextColor);
  text-transform: uppercase;

  margin-top: 40px;
  margin-bottom: 20px;
} */

.listExpense {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.item_img {
  position: relative;
  display: inline-flex;
  margin: 5px 0;
}

.item_img::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46px;
  background-color: var(--backgroundColor);
  border-radius: 20px;
}

.listExpense_item:hover .item_img::before,
.listExpense_item:focus .item_img::before {
  background-color: var(--accentBackgroundColor);
}

.item_svg {
  z-index: 2;
}

.listExpense_item:hover .item_svg,
.listExpense_item:focus .item_svg {
  fill: var(--accentColor);
}

.item_name {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .listExpense {
    margin-left: -20px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1280px) {
  .listExpense {
    max-width: 614px;
  }
}

.listExpense_item {
  min-width: 84px;
  max-width: 102px;
  list-style: none;
  margin-left: 10px;
  margin-top: 20px;
  text-align: center;
}

.listExpense_item:hover,
.listExpense_item:focus {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .listExpense_item {
    margin-left: 20px;
  }
}
