/* .reports {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
} */

@media (min-width: 768px) {
  .reports {
    margin-bottom: 0px;
  }
}

.link {
  margin-right: 15px;

  text-decoration: none;
  color: inherit;
}

.reports:hover .icon {
  fill: var(--accentColor);
  cursor: pointer;
}

.reports:hover .link {
  color: var(--accentColor);
}
.icon {
  fill: #52555fb3;
}

.containerBalance {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: rgba(82, 85, 95, 0.7);
}
@media (min-width: 768px) {
  .containerBalance {
    display: flex;
    align-items: center;
    margin-right: 111px;
  }
}

@media (min-width: 1280px) {
  .containerBalance {
    margin-right: 205px;
  }
}

.text {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 6px;
}

@media (min-width: 768px) {
  .text {
    margin-right: 21px;
    margin-bottom: 0px;
  }
}

.containerInput {
  display: flex;
  justify-content: center;
  height: 44px;
}

.balanceInput {
  text-align: end;

  width: 125px;
  padding: 12px;
  padding-right: 48px;
  height: 44px;
  font-weight: 700;
  text-transform: uppercase;

  border: 2px solid var(--basicColor);
  border-radius: 22px 0px 0px 22px;
  background-color: transparent;
  color: var(--titleTextColor);
}

@media (min-width: 768px) {
  .balanceInput {
    margin-right: 15px;
    border-radius: 16px;
  }
}

.balanceInput:focus,
.balanceInput:hover {
  outline: var(--basicColor);
}

.confirmBtn {
  width: 125px;

  background-color: transparent;
  border: 2px solid var(--basicColor);
  border-radius: 0px 22px 22px 0px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;

  color: #52555fb3;
  cursor: pointer;
}

@media (min-width: 768px) {
  .confirmBtn {
    border-radius: 16px;
  }
}

.confirmBtn:hover {
  outline: none;
  border: none;
  background-color: var(--accentColor);
  color: var(--basicColor);
  cursor: pointer;
}

.editBtn {
  width: 125px;

  background-color: transparent;
  border: 2px solid var(--basicColor);
  border-radius: 0px 22px 22px 0px;

  cursor: pointer;
}

@media (min-width: 768px) {
  .editBtn {
    background-color: transparent;
    border-radius: 16px;
    cursor: pointer;
  }
}

.iconEdit {
  cursor: pointer;
  color: #52555fb3;
}

.editBtn:hover .iconEdit {
  color: var(--accentColor);
}

.span {
  position: absolute;
  top: 15px;
  right: 15px;
  color: var(--titleTextColor);
  font-weight: 700;
}

.containerRelative {
  position: relative;
  width: 125px;
  height: 44px;
}

@media (min-width: 768px) {
  .containerRelative {
    margin-right: 15px;
  }
}
@media (min-width: 1280px) {
  .containerRelative {
    margin-right: 10px;
  }
}
.modal {
  position: absolute;
}
