.header_menu {
  display: flex;
  align-items: center;
}

.header_avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  margin-right: 15px;
  background-color: #f5f6fa;
  border-radius: 50%;
  text-transform: uppercase;
  color: #52555f;
  font-size: 1rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .header_avatar {
    margin-right: 10px;
  }
}

.header_username {
  margin-right: 20px;
}

.header_divider {
  width: 1px;
  height: 36px;
  margin-right: 20px;
  background-color: #e0e5eb;
}

.header_logout {
  padding: 0;
  background: none;
  border: none;
  color: #52555f;
}

.header_logout:hover,
.header_logout:focus,
.logout_name:hover::after,
.logout_name:focus::after {
  cursor: pointer;
  color: #ff751d;
}

.logout_name::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: #52555f;
}

.logout_name:hover::after,
.logout_name:focus::after {
  background-color: currentColor;
}

.header_logout .logout_icon {
  width: 16px;
  height: 16px;
  color: #cbccd0;
}
